@import url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700&display=swap);
/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */

@-webkit-keyframes spinAround {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spinAround {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.content:not(:last-child) {
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

.modal, .modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.button, .input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    font-size: 1rem;
    height: 2.5em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top
}

.button:active, .button:focus, .input:active, .input:focus, .is-active.button, .is-active.input {
    outline: 0
}

.button[disabled], .input[disabled] {
    cursor: not-allowed
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

body, html, ul {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

button, input {
    margin: 0
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body, button, input {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    color: #363636
}

input[type=checkbox], input[type=radio] {
    vertical-align: baseline
}

small {
    font-size: .875em
}

span {
    font-style: inherit;
    font-weight: inherit
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: calc(.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap
}

.button .icon, .button .icon.is-medium, .button .icon.is-small {
    height: 1.5em;
    width: 1.5em
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-.5em - 1px);
    margin-right: .25em
}

.button .icon:last-child:not(:first-child) {
    margin-left: .25em;
    margin-right: calc(-.5em - 1px)
}

.button .icon:first-child:last-child {
    margin-left: calc(-.5em - 1px);
    margin-right: calc(-.5em - 1px)
}

.button:hover {
    border-color: #b5b5b5;
    color: #363636
}

.button:focus {
    border-color: #3273dc;
    color: #363636
}

.button:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25);
    box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.button.is-active, .button:active {
    border-color: #4a4a4a;
    color: #363636
}

.button.is-text {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: underline
}

.button.is-text:focus, .button.is-text:hover {
    background-color: #f5f5f5;
    color: #363636
}

.button.is-text.is-active, .button.is-text:active {
    background-color: #e8e8e8;
    color: #363636
}

.button.is-text[disabled] {
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.button.is-link {
    background-color: #3273dc;
    border-color: transparent;
    color: #fff
}

.button.is-link:hover {
    background-color: #276cda;
    border-color: transparent;
    color: #fff
}

.button.is-link:focus {
    border-color: transparent;
    color: #fff
}

.button.is-link:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25);
    box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.button.is-link.is-active, .button.is-link:active {
    background-color: #2366d1;
    border-color: transparent;
    color: #fff
}

.button.is-link[disabled] {
    background-color: #3273dc;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.button.is-small {
    border-radius: 2px;
    font-size: 12px;
    font-size: .75rem
}

.button.is-medium {
    font-size: 20px;
    font-size: 1.25rem
}

.button[disabled] {
    background-color: #fff;
    border-color: #dbdbdb;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .5
}

.button.is-rounded {
    border-radius: 290486px;
    padding-left: 1.25em;
    padding-right: 1.25em
}

.buttons {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.buttons .button {
    margin-bottom: 8px;
    margin-bottom: .5rem
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 8px;
    margin-right: .5rem
}

.buttons:last-child {
    margin-bottom: -8px;
    margin-bottom: -.5rem
}

.buttons:not(:last-child) {
    margin-bottom: 16px;
    margin-bottom: 1rem
}

.buttons.has-addons .button:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.buttons.has-addons .button:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -1px
}

.buttons.has-addons .button:last-child {
    margin-right: 0
}

.buttons.has-addons .button:hover {
    z-index: 2
}

.buttons.has-addons .button.is-active, .buttons.has-addons .button:active, .buttons.has-addons .button:focus {
    z-index: 3
}

.buttons.has-addons .button.is-active:hover, .buttons.has-addons .button:active:hover, .buttons.has-addons .button:focus:hover {
    z-index: 4
}

.buttons.is-centered {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.buttons.is-centered:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: 4px;
    margin-left: .25rem;
    margin-right: 4px;
    margin-right: .25rem
}

.buttons.is-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.buttons.is-right:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: 4px;
    margin-left: .25rem;
    margin-right: 4px;
    margin-right: .25rem
}

.container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 1016px
    }
}

@media screen and (min-width:1216px) {
    .container {
        max-width: 1208px
    }
}

@media screen and (min-width:1408px) {
    .container {
        max-width: 1400px
    }
}

.content ul:not(:last-child) {
    margin-bottom: 1em
}

.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em
}

.content ul ul {
    list-style-type: circle;
    margin-top: .5em
}

.content ul ul ul {
    list-style-type: square
}

.content.is-small {
    font-size: 12px;
    font-size: .75rem
}

.content.is-medium {
    font-size: 20px;
    font-size: 1.25rem
}

.icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 24px;
    height: 1.5rem;
    width: 24px;
    width: 1.5rem
}

.icon.is-small {
    height: 16px;
    height: 1rem;
    width: 16px;
    width: 1rem
}

.icon.is-medium {
    height: 32px;
    height: 2rem;
    width: 32px;
    width: 2rem
}

@-webkit-keyframes moveIndeterminate {
    0% {
        background-position: 200% 0
    }
    to {
        background-position: -200% 0
    }
}

@keyframes moveIndeterminate {
    0% {
        background-position: 200% 0
    }
    to {
        background-position: -200% 0
    }
}

.number {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 290486px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    font-size: 1.25rem;
    height: 2em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 24px;
    margin-right: 1.5rem;
    min-width: 2.5em;
    padding: 4px 8px;
    padding: .25rem .5rem;
    text-align: center;
    vertical-align: top
}

.input {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover {
    border-color: #b5b5b5
}

.input:active, .input:focus, .is-active.input {
    border-color: #3273dc;
    -webkit-box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25);
    box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.input[disabled] {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #7a7a7a
}

.input[disabled]::-moz-placeholder {
    color: hsla(0, 0%, 48%, .3)
}

.input[disabled]::-webkit-input-placeholder {
    color: hsla(0, 0%, 48%, .3)
}

.input[disabled]:-moz-placeholder {
    color: hsla(0, 0%, 48%, .3)
}

.input[disabled]:-ms-input-placeholder {
    color: hsla(0, 0%, 48%, .3)
}

.input {
    -webkit-box-shadow: inset 0 .0625em .125em hsla(0, 0%, 4%, .05);
    box-shadow: inset 0 .0625em .125em hsla(0, 0%, 4%, .05);
    max-width: 100%;
    width: 100%
}

.input[readonly] {
    -webkit-box-shadow: none;
    box-shadow: none
}

.is-small.input {
    border-radius: 2px;
    font-size: 12px;
    font-size: .75rem
}

.is-medium.input {
    font-size: 20px;
    font-size: 1.25rem
}

.input.is-rounded {
    border-radius: 290486px;
    padding-left: calc(1.125em - 1px);
    padding-right: calc(1.125em - 1px)
}

.checkbox {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative
}

.checkbox input {
    cursor: pointer
}

.checkbox:hover {
    color: #363636
}

.checkbox[disabled] {
    color: #7a7a7a;
    cursor: not-allowed
}

.label {
    color: #363636;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700
}

.label:not(:last-child) {
    margin-bottom: .5em
}

.label.is-small {
    font-size: 12px;
    font-size: .75rem
}

.label.is-medium {
    font-size: 20px;
    font-size: 1.25rem
}

.control {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    font-size: 16px;
    font-size: 1rem;
    position: relative;
    text-align: inherit
}

.card {
    background-color: #fff;
    -webkit-box-shadow: 0 .5em 1em -.125em hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .02);
    box-shadow: 0 .5em 1em -.125em hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative
}

.card-content {
    background-color: transparent;
    padding: 24px;
    padding: 1.5rem
}

.menu {
    font-size: 16px;
    font-size: 1rem
}

.menu.is-small {
    font-size: 12px;
    font-size: .75rem
}

.menu.is-medium {
    font-size: 20px;
    font-size: 1.25rem
}

.modal {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40
}

.modal.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.modal-background {
    background-color: hsla(0, 0%, 4%, .86)
}

.modal-card, .modal-content {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%
}

@media print, screen and (min-width:769px) {
    .modal-card, .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px
    }
}

.modal-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    -ms-overflow-y: visible;
    overflow-y: visible
}

.modal-card, .modal-card-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.modal-card-head {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px;
    position: relative
}

.modal-card-head {
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px
}

.has-background-link {
    background-color: #3273dc!important
}

.is-paddingless {
    padding: 0!important
}

.is-size-7 {
    font-size: 19.2px!important;
    font-size: 1.2rem!important
}

.has-text-centered {
    text-align: center!important
}

.is-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
}

.is-invisible {
    visibility: hidden!important
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.icon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit
}

.modal.is-full-screen>.animation-content, .modal.is-full-screen>.animation-content>.modal-card {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    margin: 0;
    background-color: #f5f5f5
}

.modal .animation-content {
    margin: 0 20px
}

.modal .animation-content .modal-card {
    margin: 0
}

@media screen and (max-width:768px) {
    .modal .animation-content {
        width: 100%
    }
}

.modal .modal-content {
    width: 100%
}

.switch {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-right: .5em
}

.switch+.switch:last-child {
    margin-right: 0
}

.switch input[type=checkbox] {
    position: absolute;
    left: 0;
    opacity: 0;
    outline: 0;
    z-index: -1
}

.switch input[type=checkbox]+.check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 2.75em;
    height: 1.575em;
    padding: .2em;
    background: #b5b5b5;
    border-radius: 4px;
    -webkit-transition: background .15s ease-out, -webkit-box-shadow .15s ease-out;
    transition: background .15s ease-out, -webkit-box-shadow .15s ease-out;
    transition: background .15s ease-out, box-shadow .15s ease-out;
    transition: background .15s ease-out, box-shadow .15s ease-out, -webkit-box-shadow .15s ease-out
}

.switch input[type=checkbox]+.check:hover {
    background: #fff
}

.switch input[type=checkbox]+.check:hover {
    background: #0a0a0a
}

.switch input[type=checkbox]+.check:hover {
    background: #f5f5f5
}

.switch input[type=checkbox]+.check:hover {
    background: #363636
}

.switch input[type=checkbox]+.check:hover {
    background: #3298dc
}

.switch input[type=checkbox]+.check:hover {
    background: #3273dc
}

.switch input[type=checkbox]+.check:hover {
    background: #3298dc
}

.switch input[type=checkbox]+.check:hover {
    background: #48c774
}

.switch input[type=checkbox]+.check:hover {
    background: #ffdd57
}

.switch input[type=checkbox]+.check:hover {
    background: #f14668
}

.switch input[type=checkbox]+.check:hover {
    background: #55acee
}

.switch input[type=checkbox]+.check:hover {
    background: #333
}

.switch input[type=checkbox]+.check:hover {
    background: #dd4b39
}

.switch input[type=checkbox]+.check:hover {
    background: #ebaf47
}

.switch input[type=checkbox]+.check:hover {
    background: #f29601
}

.switch input[type=checkbox]+.check.input[type=checkbox]+.switch input[type=checkbox]+.check.check {
    background: pink
}

.switch input[type=checkbox]+.check:before {
    content: "";
    display: block;
    border-radius: 4px;
    width: 1.175em;
    height: 1.175em;
    background: #f5f5f5;
    -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .05), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 3px 3px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .05), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 3px 3px 0 rgba(0, 0, 0, .05);
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out, -webkit-transform .15s ease-out;
    will-change: transform;
    -webkit-transform-origin: left;
    transform-origin: left
}

.switch input[type=checkbox]:checked+.check {
    background: #3298dc
}

.switch input[type=checkbox]:checked+.check.is-white {
    background: #fff
}

.switch input[type=checkbox]:checked+.check.is-black {
    background: #0a0a0a
}

.switch input[type=checkbox]:checked+.check.is-light {
    background: #f5f5f5
}

.switch input[type=checkbox]:checked+.check.is-dark {
    background: #363636
}

.switch input[type=checkbox]:checked+.check.is-primary {
    background: #3298dc
}

.switch input[type=checkbox]:checked+.check.is-link {
    background: #3273dc
}

.switch input[type=checkbox]:checked+.check.is-info {
    background: #3298dc
}

.switch input[type=checkbox]:checked+.check.is-success {
    background: #48c774
}

.switch input[type=checkbox]:checked+.check.is-warning {
    background: #ffdd57
}

.switch input[type=checkbox]:checked+.check.is-danger {
    background: #f14668
}

.switch input[type=checkbox]:checked+.check.is-twitter {
    background: #55acee
}

.switch input[type=checkbox]:checked+.check.is-github {
    background: #333
}

.switch input[type=checkbox]:checked+.check.is-google {
    background: #dd4b39
}

.switch input[type=checkbox]:checked+.check.is-gold {
    background: #ebaf47
}

.switch input[type=checkbox]:checked+.check.is-piyo {
    background: #f29601
}

.switch input[type=checkbox]:checked+.check:before {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.switch input[type=checkbox]:checked+.check.is-elastic:before {
    -webkit-transform: translate3d(50%, 0, 0) scaleX(1.5);
    transform: translate3d(50%, 0, 0) scaleX(1.5)
}

.switch input[type=checkbox]:active, .switch input[type=checkbox]:focus {
    outline: 0
}

.switch input[type=checkbox]:active+.check, .switch input[type=checkbox]:focus+.check {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 48%, .6);
    box-shadow: 0 0 .5em hsla(0, 0%, 48%, .6)
}

.switch input[type=checkbox]:active+.check.is-white-passive, .switch input[type=checkbox]:focus+.check.is-white-passive {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 100%, .8);
    box-shadow: 0 0 .5em hsla(0, 0%, 100%, .8)
}

.switch input[type=checkbox]:active+.check.is-black-passive, .switch input[type=checkbox]:focus+.check.is-black-passive {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 4%, .8);
    box-shadow: 0 0 .5em hsla(0, 0%, 4%, .8)
}

.switch input[type=checkbox]:active+.check.is-light-passive, .switch input[type=checkbox]:focus+.check.is-light-passive {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 96%, .8);
    box-shadow: 0 0 .5em hsla(0, 0%, 96%, .8)
}

.switch input[type=checkbox]:active+.check.is-dark-passive, .switch input[type=checkbox]:focus+.check.is-dark-passive {
    -webkit-box-shadow: 0 0 .5em rgba(54, 54, 54, .8);
    box-shadow: 0 0 .5em rgba(54, 54, 54, .8)
}

.switch input[type=checkbox]:active+.check.is-primary-passive, .switch input[type=checkbox]:focus+.check.is-primary-passive {
    -webkit-box-shadow: 0 0 .5em rgba(50, 152, 220, .8);
    box-shadow: 0 0 .5em rgba(50, 152, 220, .8)
}

.switch input[type=checkbox]:active+.check.is-link-passive, .switch input[type=checkbox]:focus+.check.is-link-passive {
    -webkit-box-shadow: 0 0 .5em rgba(50, 115, 220, .8);
    box-shadow: 0 0 .5em rgba(50, 115, 220, .8)
}

.switch input[type=checkbox]:active+.check.is-info-passive, .switch input[type=checkbox]:focus+.check.is-info-passive {
    -webkit-box-shadow: 0 0 .5em rgba(50, 152, 220, .8);
    box-shadow: 0 0 .5em rgba(50, 152, 220, .8)
}

.switch input[type=checkbox]:active+.check.is-success-passive, .switch input[type=checkbox]:focus+.check.is-success-passive {
    -webkit-box-shadow: 0 0 .5em rgba(72, 199, 116, .8);
    box-shadow: 0 0 .5em rgba(72, 199, 116, .8)
}

.switch input[type=checkbox]:active+.check.is-warning-passive, .switch input[type=checkbox]:focus+.check.is-warning-passive {
    -webkit-box-shadow: 0 0 .5em rgba(255, 221, 87, .8);
    box-shadow: 0 0 .5em rgba(255, 221, 87, .8)
}

.switch input[type=checkbox]:active+.check.is-danger-passive, .switch input[type=checkbox]:focus+.check.is-danger-passive {
    -webkit-box-shadow: 0 0 .5em rgba(241, 70, 104, .8);
    box-shadow: 0 0 .5em rgba(241, 70, 104, .8)
}

.switch input[type=checkbox]:active+.check.is-twitter-passive, .switch input[type=checkbox]:focus+.check.is-twitter-passive {
    -webkit-box-shadow: 0 0 .5em rgba(85, 172, 238, .8);
    box-shadow: 0 0 .5em rgba(85, 172, 238, .8)
}

.switch input[type=checkbox]:active+.check.is-github-passive, .switch input[type=checkbox]:focus+.check.is-github-passive {
    -webkit-box-shadow: 0 0 .5em rgba(51, 51, 51, .8);
    box-shadow: 0 0 .5em rgba(51, 51, 51, .8)
}

.switch input[type=checkbox]:active+.check.is-google-passive, .switch input[type=checkbox]:focus+.check.is-google-passive {
    -webkit-box-shadow: 0 0 .5em rgba(221, 75, 57, .8);
    box-shadow: 0 0 .5em rgba(221, 75, 57, .8)
}

.switch input[type=checkbox]:active+.check.is-gold-passive, .switch input[type=checkbox]:focus+.check.is-gold-passive {
    -webkit-box-shadow: 0 0 .5em rgba(235, 175, 71, .8);
    box-shadow: 0 0 .5em rgba(235, 175, 71, .8)
}

.switch input[type=checkbox]:active+.check.is-piyo-passive, .switch input[type=checkbox]:focus+.check.is-piyo-passive {
    -webkit-box-shadow: 0 0 .5em rgba(242, 150, 1, .8);
    box-shadow: 0 0 .5em rgba(242, 150, 1, .8)
}

.switch input[type=checkbox]:active:checked+.check, .switch input[type=checkbox]:focus:checked+.check {
    -webkit-box-shadow: 0 0 .5em rgba(50, 152, 220, .8);
    box-shadow: 0 0 .5em rgba(50, 152, 220, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-white, .switch input[type=checkbox]:focus:checked+.check.is-white {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 100%, .8);
    box-shadow: 0 0 .5em hsla(0, 0%, 100%, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-black, .switch input[type=checkbox]:focus:checked+.check.is-black {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 4%, .8);
    box-shadow: 0 0 .5em hsla(0, 0%, 4%, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-light, .switch input[type=checkbox]:focus:checked+.check.is-light {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 96%, .8);
    box-shadow: 0 0 .5em hsla(0, 0%, 96%, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-dark, .switch input[type=checkbox]:focus:checked+.check.is-dark {
    -webkit-box-shadow: 0 0 .5em rgba(54, 54, 54, .8);
    box-shadow: 0 0 .5em rgba(54, 54, 54, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-primary, .switch input[type=checkbox]:focus:checked+.check.is-primary {
    -webkit-box-shadow: 0 0 .5em rgba(50, 152, 220, .8);
    box-shadow: 0 0 .5em rgba(50, 152, 220, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-link, .switch input[type=checkbox]:focus:checked+.check.is-link {
    -webkit-box-shadow: 0 0 .5em rgba(50, 115, 220, .8);
    box-shadow: 0 0 .5em rgba(50, 115, 220, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-info, .switch input[type=checkbox]:focus:checked+.check.is-info {
    -webkit-box-shadow: 0 0 .5em rgba(50, 152, 220, .8);
    box-shadow: 0 0 .5em rgba(50, 152, 220, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-success, .switch input[type=checkbox]:focus:checked+.check.is-success {
    -webkit-box-shadow: 0 0 .5em rgba(72, 199, 116, .8);
    box-shadow: 0 0 .5em rgba(72, 199, 116, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-warning, .switch input[type=checkbox]:focus:checked+.check.is-warning {
    -webkit-box-shadow: 0 0 .5em rgba(255, 221, 87, .8);
    box-shadow: 0 0 .5em rgba(255, 221, 87, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-danger, .switch input[type=checkbox]:focus:checked+.check.is-danger {
    -webkit-box-shadow: 0 0 .5em rgba(241, 70, 104, .8);
    box-shadow: 0 0 .5em rgba(241, 70, 104, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-twitter, .switch input[type=checkbox]:focus:checked+.check.is-twitter {
    -webkit-box-shadow: 0 0 .5em rgba(85, 172, 238, .8);
    box-shadow: 0 0 .5em rgba(85, 172, 238, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-github, .switch input[type=checkbox]:focus:checked+.check.is-github {
    -webkit-box-shadow: 0 0 .5em rgba(51, 51, 51, .8);
    box-shadow: 0 0 .5em rgba(51, 51, 51, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-google, .switch input[type=checkbox]:focus:checked+.check.is-google {
    -webkit-box-shadow: 0 0 .5em rgba(221, 75, 57, .8);
    box-shadow: 0 0 .5em rgba(221, 75, 57, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-gold, .switch input[type=checkbox]:focus:checked+.check.is-gold {
    -webkit-box-shadow: 0 0 .5em rgba(235, 175, 71, .8);
    box-shadow: 0 0 .5em rgba(235, 175, 71, .8)
}

.switch input[type=checkbox]:active:checked+.check.is-piyo, .switch input[type=checkbox]:focus:checked+.check.is-piyo {
    -webkit-box-shadow: 0 0 .5em rgba(242, 150, 1, .8);
    box-shadow: 0 0 .5em rgba(242, 150, 1, .8)
}

.switch .control-label {
    padding-left: .5em
}

.switch:hover input[type=checkbox]+.check {
    background: hsla(0, 0%, 71%, .9)
}

.switch:hover input[type=checkbox]:checked+.check {
    background: rgba(50, 152, 220, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-white {
    background: hsla(0, 0%, 100%, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-black {
    background: hsla(0, 0%, 4%, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-light {
    background: hsla(0, 0%, 96%, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-dark {
    background: rgba(54, 54, 54, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-primary {
    background: rgba(50, 152, 220, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-link {
    background: rgba(50, 115, 220, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-info {
    background: rgba(50, 152, 220, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-success {
    background: rgba(72, 199, 116, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-warning {
    background: rgba(255, 221, 87, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-danger {
    background: rgba(241, 70, 104, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-twitter {
    background: rgba(85, 172, 238, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-github {
    background: rgba(51, 51, 51, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-google {
    background: rgba(221, 75, 57, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-gold {
    background: rgba(235, 175, 71, .9)
}

.switch:hover input[type=checkbox]:checked+.check.is-piyo {
    background: rgba(242, 150, 1, .9)
}

.switch.is-rounded input[type=checkbox]+.check, .switch.is-rounded input[type=checkbox]+.check:before {
    border-radius: 290486px
}

.switch.is-small {
    border-radius: 2px;
    font-size: 12px;
    font-size: .75rem
}

.switch.is-medium {
    font-size: 20px;
    font-size: 1.25rem
}

.switch[disabled] {
    opacity: .5;
    cursor: not-allowed;
    color: #7a7a7a
}

a.button {
    -webkit-touch-callout: default
}

.modal.is-full-screen .modal-card-body {
    padding: 0;
    padding-top: 8px;
    padding-top: .5rem
}

@page {
    size: A4;
    margin: 0
}

@media print {
    body {
        overflow: visible!important
    }
}

.cetkaik-player .flippable.flip, .cetkaik-player .piece_stand_outer.location_a_side {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.cetkaik-player .board_outer .board_inner, .cetkaik-player .piece_stand_outer, .cetkaik-player .turn_edit_container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cetkaik-player {
    margin: 0 auto;
    text-align: center
}

.cetkaik-player[v-cloak] {
    display: none
}

.cetkaik-player .flippable {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s
}

.cetkaik-player .board_container {
    display: inline-block
}

.cetkaik-player .flippable {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.cetkaik-player.horizontal .flippable .flex_item:first-child {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.cetkaik-player.horizontal .flippable .flex_item:nth-child(2) {
    -ms-flex-item-align: center;
    align-self: center
}

.cetkaik-player.horizontal .flippable .flex_item:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cetkaik-player.horizontal .flippable .flex_item:nth-child(3), .cetkaik-player.vertical .flippable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.cetkaik-player.vertical .flippable {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.cetkaik-player.vertical .flippable .piece_stand_outer .current_score_wrap, .cetkaik-player.vertical .flippable .piece_stand_outer .current_score_wrap .current_score, .cetkaik-player.vertical .flippable .piece_stand_outer .player_name {
    display: inline-block
}

.cetkaik-player.vertical .flippable .piece_stand_outer ul.piece_stand {
    margin-top: .2em;
    display: inline-block
}

.cetkaik-player .board_outer .board_inner {
    table-layout: fixed
}

@media print, screen and (min-width:769px) {
    .cetkaik-player.size-small .font_size_base {
        font-size: 1.28em
    }
}

@media print, screen and (min-width:769px) {
    .cetkaik-player.size-medium .font_size_base {
        font-size: 1.92em
    }
}

.cetkaik-player.run_mode-view_mode {
    -webkit-tap-highlight-color: transparent
}

.cetkaik-player.run_mode-view_mode .board_wrap {
    position: relative
}

.cetkaik-player.run_mode-view_mode {
    position: relative
}

.cetkaik-player .piece_stand_outer .current_score_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.cetkaik-player .piece_stand_outer {
    text-align: left
}

.cetkaik-player .piece_stand_outer .current_score {
    color: #636363
}

.cetkaik-player .piece_stand_outer.turn_active .current_score {
    color: #474747;
    -webkit-text-stroke: 1px #474747;
    text-shadow: 0 0 8px #474747;
    text-shadow: 0 0 .5rem #474747
}

.cetkaik-player .piece_stand_outer .player_name {
    font-size: .75em
}

.cetkaik-player .controller_group {
    margin-top: 12.8px;
    margin-top: .8rem
}

.cetkaik-player .controller_group.buttons, .cetkaik-player .controller_group.buttons button {
    margin-bottom: 0
}

.cetkaik-player .controller_group.buttons button.first, .cetkaik-player .controller_group.buttons button.last {
    width: 48px;
    width: 3rem
}

.cetkaik-player .controller_group.buttons button.previous {
    width: 80px;
    width: 5rem
}

.cetkaik-player .controller_group.buttons button.next {
    width: 112px;
    width: 7rem
}

.cetkaik-player .controller_group.buttons button.flip {
    width: 40px;
    width: 2.5rem
}

.cetkaik-player .turn_slider {
    margin-top: 8px;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 320px;
    width: 20rem
}

.cetkaik-player .turn_edit_container .turn_edit_input {
    width: 48px;
    width: 3rem
}

.cetkaik-player .turn_edit_container .turn_edit_text {
    cursor: pointer
}

.cetkaik-player .edit_mode_controller {
    display: inline-block;
    text-align: left;
    margin: 1vmin auto
}

@media screen and (max-width:768px) {
    .cetkaik-player.vertical .font_size_base {
        font-size: 6.4vmin
    }
}

@media screen and (max-width:768px) {
    .cetkaik-player.horizontal .font_size_base {
        font-size: 5.3vmin
    }
}

@media screen and (max-width:768px) {
    .cetkaik-player.horizontal.run_mode-edit_mode .font_size_base {
        font-size: 4.8vmin
    }
}

@media screen and (max-width:768px) {
    .cetkaik-player {
        margin: 0 2px
    }
}

.is-cetkaik-player-modal-card .modal-card-body {
    overflow-x: hidden
}

@media screen and (max-width:768px) {
    .is-cetkaik-player-modal-card .modal-card-body {
        padding: 1em 0
    }
}

.cetkaik-player.theme-simple.run_mode-edit_mode.horizontal .piece_stand, .cetkaik-player.theme-simple.run_mode-edit_mode.vertical .piece_stand {
    border: 1px solid #636363;
    background-color: #fff;
    padding: .2em;
    border-radius: .25em;
    min-height: 4em
}

.cetkaik-player.theme-simple .board_inner {
    margin: 0 .3em;
    border-collapse: separate;
    border: 1px solid #a8a8a8;
    border-spacing: 1px;
    background-color: #636363
}

.cetkaik-player.theme-simple.horizontal .piece_stand_outer .piece_stand {
    margin-top: .1em
}

.cetkaik-player.theme-simple.vertical .piece_stand_outer .piece_stand {
    margin-left: .4em
}

.cetkaik-player.theme-simple.run_mode-edit_mode.horizontal .piece_stand {
    min-height: 5em
}

.cetkaik-player.theme-simple.run_mode-edit_mode.vertical .piece_stand {
    min-width: 4em;
    min-height: 1em
}

@-webkit-keyframes simple_blink {
    0% {
        background-color: #d9d9d9
    }
    to {
        background-color: #f2f2f2
    }
}

@keyframes simple_blink {
    0% {
        background-color: #d9d9d9
    }
    to {
        background-color: #f2f2f2
    }
}

@-webkit-keyframes real_blink {
    0% {
        background-color: rgba(0, 0, 0, .25)
    }
    to {
        background-color: rgba(0, 0, 0, .1)
    }
}

@keyframes real_blink {
    0% {
        background-color: rgba(0, 0, 0, .25)
    }
    to {
        background-color: rgba(0, 0, 0, .1)
    }
}

html.production .cetkaik-player .turn_slider:focus {
    outline: 0
}

* {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

input::-webkit-calendar-picker-indicator {
    display: none
}

@media print, screen and (min-width:769px) {
    .main_container {
        min-height: 84vh
    }
}